<table>
	<tr>
		<td>Billing no</td>
		<td>{{ car.billing_number }}</td>
	</tr>
	<tr>
		<td>Customer</td>
		<td>{{ car.customer }}</td>
	</tr>
	<tr>
		<td>Price</td>
		<td>{{ car.price }}</td>
	</tr>
	<tr>
		<td>Purchase Date</td>
		<td>{{ car.purchase_date }}</td>
	</tr>
	<tr>
		<td>Company</td>
		<td>{{ car.company }}</td>
	</tr>
	<tr>
		<td>Model</td>
		<td>{{ car.model }}</td>
	</tr>
	<tr>
		<td>Serial Number</td>
		<td>{{ car.serial_number }}</td>
	</tr>
	<tr>
		<td>Manufacturing date</td>
		<td>{{ car.mfg_date }}</td>
	</tr>
	<tr>
		<td>Shipping Date</td>
		<td>{{ car.shipping_date }}</td>
	</tr>
</table>
